* {
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 69, 99);
    height: 100vh;
}

section {
    height: 25%;
    width: 100%;
    border: 3px solid black;
    clear: both;
}

.mid {
    height: 50%;
}

section > div {
    border: 3px solid white;
    background-color: aquamarine;
    height: 100%;
    width: 33.3333%;
    float: left;
}
