/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.50%;
  padding: 0;
  margin: 0;
}

a, ul{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
}


/******************************************
/* HEADER
/*******************************************/

header{
  height: 40px;
}

#mobile {
  width: 100%;
 margin: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.logo{
  height: 35px;
  padding: 0;
  margin: 5px;
}

.topnav #navLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: rgb(61, 137, 252);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.active {
  background-color: #ffffff;
  color: white;
  height: 45px;
}

a.active{
  margin: 0;
  padding: 0;
}


hr{
  width: 100%;
  background-color: rgb(61, 137, 252);
  border: 1px solid rgb(61, 137, 252);
}


/******************************************
/* Main
/*******************************************/

main {
  display: block;
}

main section img{
  width: 100%;
  padding: 0;
  margin: 0;
}

section + section {
  margin: auto;
  text-align: center;
}

h1{
  font-size: 4.5em;
  margin: 0;
}

section + section p{
  font-size: 2em;
  padding: 10px;
}


section + section li{
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
}

section li a{
  background-color: rgb(36, 97, 228);
  color: white;
  padding: 10px;  
  border-radius: 5px;
  font-size: 1em;
}

/******************************************
/* Media Queries
/*******************************************/

@media only screen and (max-width: 600px) {
  #desktop{
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #mobile{
    display: none;
  }

  #desktop{
    width: 80%;
    margin: 10px auto;
  }
  

  nav section{
    float: left;
  }

  section ul li a#courses {
    display: inline-block;
    background-color: white;
    color: rgb(36, 97, 228);
  }
  
  #nav-links li a{
    background-color: white;
    padding: 0;
    color: rgb(36, 97, 228);
    font-size: 1em;
    font-weight: 800;
  }

  section li{
    float: left;
    color: rgb(36, 97, 228);
    margin: 0;
    padding: 0 15px;
    font-weight: 800;
    font-size: 1.5em;
  }

  img.logo{
    margin: 0 150px;
  }

  main h1{
    font-size: 6em;
  }

  main h1, main p{
    text-align: left;
  }

  main section{
    float: left;
    width: 45%;
    margin: 30px 0 0 100px;
  }

  main section + section{
    float: right;
    width: 40%;
    margin: 30px 100px 0 0 ;
    padding-top: 100px;
  }

  

  input#search{
    color: rgb(36, 97, 228);
    background-color: #33333310;
    border: 0;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 5px;
  }
}

