/* Resets */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/* Colors */
:root{
    --background: #011122;
    --firstAccent: #023859;
    --secondAccent: #024959;
    --font: #91B7D9;
    --highlight: #04ADBF;
}

body{
    font-size: 62.50%;
    background: var(--background);
}

/* Nav */
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    font-family: honk, Roboto;
    color: orange;
}

nav video{
    position: absolute;
    width: 100%;
    z-index: -2;
    top: -10;
}

nav img{
    height: 100px;
}

/* Main Section*/
#main{
    margin: 80px 200px;
}

h2{
    font-family: honk;
    color: var(--highlight);
    font-size: 2rem;
    font-weight: 100;
    margin: 100px 0 20px;
}

#aboutMe{
    font-size: 1.2rem;
    color: var(--font);
}

/* Game Cards */
#main ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bubble Layout */

/**** I think I would like to do a carousel of some sort to move the bubbles along, there are too many to look good in a flex-wrap. It could be nice to get some sound effects and maybe even some water movements for when you click the next arrow?  */
.bubble-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-bubble {
    position: relative;
    filter: drop-shadow(8px 10px 5px rgba(29, 8, 46, 0.61));
}

.bubble {
    position: relative;
    width: 20vh;
    height: 20vh;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    animation: bubbly 6s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh;
}

.pop {
    position: relative;
    overflow: hidden;
}

.pop:hover {
    transform: scale(1.2);
}

/* All Bubbles After First */
#second {
    animation: bubbly 3s ease-in-out infinite;
}
#third {
    animation: bubbly 8s ease-in-out infinite;
}
#fourth {
    animation: bubbly 5s ease-in-out infinite;
}

.bubble img {
    position: absolute;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
    filter: blur(0.5px);
    opacity: 0.5;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}

.bubble::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffffc5;
    z-index: 10;
    filter: blur(5px);
}

.bubble::after {
    content: '';
    position: absolute;
    top: 75px;
    left: 75px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffffc5;
    z-index: 10;
    filter: blur(5px);
}
  
.bubble span {
    position: absolute;
    border-radius: 50%;
}

/* Bubble Colors */

.bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid var(--lightteal);
    filter: blur(8px);
}

.bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid var(--purple);
    filter: blur(8px);
}

.bubble span:nth-child(3) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}

/* Large Bubble Movement */
@keyframes bubbly {
    0%, 100% {
        transform: translateY(0) rotate(0);
    }
    25% {
        transform: translateY(-15px) rotate(-4deg);
    }
    50% {
        transform: translateY(0) rotate(0);
    }
    75% {
        transform: translateY(-15px) rotate(4deg);
    }
}
