/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/
header, footer, section{
  border: 3px solid teal;   
}

header, footer {
     float: left;
     width: 100%;
     height: 200px;
}

section{
     float: left;
     height: 300px;
     width: 33.3%;
}

.two{
     height: 500px;
     width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
