* {
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 69, 99);
    height: 100vh;
}

header, footer{
    height: 10%;
    border: 3px solid #BFCEE3;
}

section {
    height: 40%;
    width: 100%;
    border: 3px solid #BFCEE3;
    background-color: #7488A3;
    clear: both;
}

div{
    float: left;
    border: 3px dashed #B8AB92;
}

.top-row > div{
    
    width: 33.3333%;
    height: 100%;
}

.bottom-row > div{
    width: 50%;
    height: 100%;
}
