/* Input Validation */
:root{
    --background: #2E363E;
    --font: #DFE9F2;
    --accents: #91A0AF;
    --secondAccent: #80BFEB;
    --navBar: #4051B5;
    --hovering: #6B90D3;
}

h2{
    text-align: center;
}

#p1, #p2, #p3, #d1{
    text-align: center;
    margin: 15px 0;
}

#userCount, #userParityNum, #userGuess{
    background: var(--accents);
    color: var(--font);
    font-size: 25px;
    width: 30px;
}

#d1, #d2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pre1{
    font-size: 1rem;
    background: var(--accents);
    padding: 20px;
    border: 2px solid var(--navBar);
    margin: 10px 0;
}


