/* Input Validation */

h2{
    text-align: center;
}

#p1, #p2, #d1{
    text-align: center;
    margin: 15px 0;
}

#container3d canvas{
    background: black;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}