/* Input Validation */

h2{
    text-align: center;
}

#p1, #p2, #p3, #d1{
    text-align: center;
    margin: 15px 0;
}

#userTurnCount{
    background: var(--accents);
    color: var(--font);
    font-size: 25px;
    border: 1px solid var(--navBar);
}
